
<div id="ascii-art">
|############################################|<br>
|#|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|##############|<br>
|#|&nbsp;&nbsp;=====&nbsp;&nbsp;..--''`&nbsp;&nbsp;|~~``|&nbsp;&nbsp;&nbsp;|##|````````|##|<br>
|#|&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|##|&nbsp;Exact&nbsp;&nbsp;|##|<br>
|#|&nbsp;&nbsp;|___|&nbsp;&nbsp;&nbsp;/___&nbsp;|&nbsp;&nbsp;|&nbsp;___|&nbsp;&nbsp;&nbsp;|##|&nbsp;Change&nbsp;|##|<br>
|#|&nbsp;&nbsp;/=__\&nbsp;&nbsp;./.__\&nbsp;&nbsp;&nbsp;|/,__\&nbsp;&nbsp;&nbsp;|##|&nbsp;Only&nbsp;&nbsp;&nbsp;|##|<br>
|#|&nbsp;&nbsp;\__//&nbsp;&nbsp;&nbsp;\__//&nbsp;&nbsp;&nbsp;&nbsp;\__//&nbsp;&nbsp;&nbsp;|##|________|##|<br>
|#|===========================|##############|<br>
|#|```````````````````````````|##############|<br>
|#|&nbsp;=.._&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;+++&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;//////&nbsp;&nbsp;|##############|<br>
|#|&nbsp;\/&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;|#|`````````|##|<br>
|#|&nbsp;&nbsp;\___\&nbsp;&nbsp;&nbsp;&nbsp;|_|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/___&nbsp;/&nbsp;&nbsp;|#|&nbsp;_______&nbsp;|##|<br>
|#|&nbsp;&nbsp;/&nbsp;__\\&nbsp;&nbsp;/|_|\&nbsp;&nbsp;&nbsp;//&nbsp;__\&nbsp;&nbsp;&nbsp;|#|&nbsp;|1|2|3|&nbsp;|##|<br>
|#|&nbsp;&nbsp;\__//-&nbsp;&nbsp;\|_//&nbsp;&nbsp;&nbsp;-\__//&nbsp;&nbsp;&nbsp;|#|&nbsp;|4|5|6|&nbsp;|##|<br>
|#|===========================|#|&nbsp;|7|8|9|&nbsp;|##|<br>
|#|```````````````````````````|#|&nbsp;```````&nbsp;|##|<br>
|#|&nbsp;..--&nbsp;&nbsp;&nbsp;&nbsp;______&nbsp;&nbsp;&nbsp;.--._.&nbsp;&nbsp;&nbsp;|#|[=======]|##|<br>
|#|&nbsp;\&nbsp;&nbsp;&nbsp;\&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;|#|&nbsp;&nbsp;_&nbsp;&nbsp;&nbsp;_&nbsp;&nbsp;|##|<br>
|#|&nbsp;&nbsp;\___\&nbsp;&nbsp;:&nbsp;___:&nbsp;&nbsp;&nbsp;|&nbsp;___|&nbsp;&nbsp;&nbsp;|#|&nbsp;|||&nbsp;(&nbsp;)&nbsp;|##|<br>
|#|&nbsp;&nbsp;/&nbsp;__\&nbsp;&nbsp;|/&nbsp;__\&nbsp;&nbsp;&nbsp;//&nbsp;__\&nbsp;&nbsp;&nbsp;|#|&nbsp;|||&nbsp;&nbsp;`&nbsp;&nbsp;|##|<br>
|#|&nbsp;&nbsp;\__//&nbsp;&nbsp;&nbsp;\__//&nbsp;&nbsp;/_\__//&nbsp;&nbsp;&nbsp;|#|&nbsp;&nbsp;~&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|##|<br>
|#|===========================|#|_________|##|<br>
|#|```````````````````````````|##############|<br>
|############################################|<br>
|#|||||||||||||||||||||||||||||####```````###|<br>
|#||||||||||||PUSH|||||||||||||####\|||||/###|<br>
|############################################|<br>
\\\\\\\\\\\\\\\\\\\\\\///////////////////////<br>
&nbsp;|_________________________________________|<br>
</div>

<center>



<h1>Welcome to the Idea Vending Machine</h1>
<p>Submit anything from a weekend hack to a startup idea, get <%= NUM_IDEAS %> random ideas back in return.</p>
<p>There are currently <strong><%= Idea.all.count %></strong> ideas in the vending machine.</p>
<strong><%= link_to "Submit an idea", new_idea_path %></strong>
</center>
