* {
	color: #333333;
	font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
	font-size:1em;
}

h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}

a {
	background:#333333;
	color:white;
}
a:hover {
	background:white;
	color: #333333;
	text-decoration:underline;
}

strong {
	font-size:1.5em;
}

.alert-success {
	background:green;
	padding:5px;
	color:white;
}

#ascii-art {
	font-family: Courier;
	font-size:9px;
	width:230px;
	margin-right:auto;
	margin-left:auto;
}
#footer {
	margin-top:20px;
	text-align:center;
}
#footer a{
	background:white;
	color: #cccccc;
}